<div class="container">
    <span class="text-center"><h1>Виды предоставляемых работ</h1>
</span>
    <div class="row">
        <div class="d-flex flex-column col-2 text-center" id="two1" onclick="one(1)"><img src="img/krona/superskiyblok/1.png" alt=""><span>Программное обеспечение</span></div>
        <div class="col-2" id="three1" style="display: none;">
  <p style=" font-size: 12px;">Программное обеспечение
Специалисты компании «КРона» подберут оптимальный вариант ПО для удаленной настройки, просмотра «живого» видео и архивных записей.</p>          

        </div>
        <div class="d-flex flex-column col-2 text-center align-self-end" id="two2" onclick="one(2)"><img src="img/krona/superskiyblok/2.png" alt=""><span class="">Аналоговые камеры</span></div>
        <div class="col-2" id="three2" style="display: none;">
            
 <p style=" font-size: 12px;">
Аналоговые камеры
В отличии от сетевых камер, аналоговые камеры имеют низкую стоимость и простоту настройки. Из недостатков данного типа камер можно выделить возможное наличие помех.</p>    
        </div>
        <div class="d-flex flex-column col-2 text-center align-self-end" id="two3" onclick="one(3)"><img src="img/krona/superskiyblok/3.png" alt=""><span>Сетевые камеры</span></div>
        <div class="col-2" id="three3" style="display: none;">
            
 <p style=" font-size: 12px;">
Сетевые камеры
Специалисты компании «КРона» занимаются профессиональным подбором сетевых камер для организации видеонаблюдения и передачи получаемого изображения в сеть LAN/WAN/Internet.</p>    
        </div>
        <div class="d-flex flex-column col-2 text-center align-self-end" id="two4" onclick="one(4)"><img src="img/krona/superskiyblok/4.png" alt=""><span>Программное обеспечение</span></div>
        <div class="col-2" id="three4" style="display: none;">
            
<p style=" font-size: 12px;">
Сетевые камеры
Специалисты компании «КРона» занимаются профессиональным подбором сетевых камер для организации видеонаблюдения и передачи получаемого изображения в сеть LAN/WAN/Internet.</p> 
        </div>
        <div class="d-flex flex-column col-2 text-center align-self-center" id="two5" onclick="one(5)"><img src="img/krona/superskiyblok/5.png" alt=""><span>Программное обеспечение</span></div>
        <div class="col-2" id="three5" style="display: none;">
            
 <p style=" font-size: 12px;">Сетевые камеры
Специалисты компании «КРона» занимаются профессиональным подбором сетевых камер для организации видеонаблюдения и передачи получаемого изображения в сеть LAN/WAN/Internet.</p>    
        </div>
        <div class="d-flex flex-column col-2 text-center align-self-end" id="two6" onclick="one(6)"><img src="img/krona/superskiyblok/6.png" alt=""><span>Программное обеспечение</span></div>
        <div class="col-2" id="three6" style="display: none;">
            
 <p style=" font-size: 13px;">Сетевые камеры
Специалисты компании «КРона» занимаются профессиональным подбором сетевых камер для организации видеонаблюдения и передачи получаемого изображения в сеть LAN/WAN/Internet.</p>    
        </div>
    </div>
</div>