 <div class="container">
              <div class="row">
                <div class="col-4">
                <h1>Как мы работаем</h1>
              <h6>Позвоните нам по телефону +7 (495) 126-94-41 или заполните онлайн-форму на нашем сайте. Также вы можете написать на нашу электронную почту sale@mckrona.ru</h6>
              </div>
              <div class="col-6">

<div class="row justify-content-end">
  <div class="d-flex flex-column col-3" id="supermainn1" onclick="supermainn(1)">
    <span class="d-flex justify-content-center" style="font-size: 80px;">1</span>
    <img src="img/krona/newpict.png" alt="">
    <span class="d-flex justify-content-center">тревога</span>
  </div>
  <div class="d-flex flex-column col-3" id="superrr1" style="display: none !important;" onclick="superrr2(1)">
    <div class="d-flex justify-content-end" onclick="superrr2(1)">+</div>
    <h6>УПРАВЛЕНИЕ ДОСТУПОМ В ПОМЕЩЕНИЯ РАЗНЫХ КАТЕГОРИЙ</h6>
    <span class="d-flex justify-content-center" style="font-size: 10px;">При проектировании системы есть возможность задать отдельным зонам объекта особый уровень доступа (например, только для специализированного персонала).
</span>
  </div>

  <div class="d-flex flex-column col-3" id="supermainn2" onclick="supermainn(2)">
    <span class="d-flex justify-content-center" style="font-size: 80px;">2</span>
    <img src="img/krona/newpict1.png" alt="">
    <span class="d-flex justify-content-center">уведомление</span>
  </div>
  <div class="d-flex flex-column col-3" id="superrr2" style="display: none !important;" onclick="superrr2(2)">
    <div class="d-flex justify-content-end" onclick="superrr2(2)">+</div>
    <h6>УПРАВЛЕНИЕ ДОСТУПОМ В ПОМЕЩЕНИЯ РАЗНЫХ КАТЕГОРИЙ</h6>
    <span class="d-flex justify-content-center" style="font-size: 10px;">При проектировании системы есть возможность задать отдельным зонам объекта особый уровень доступа (например, только для специализированного персонала).
</span>
  </div>
  <div class="d-flex flex-column col-3" id="supermainn3" onclick="supermainn(3)">
    <span class="d-flex justify-content-center" style="font-size: 80px;">3</span>
    <img src="img/krona/newpict2.png" alt="">
    <span class="d-flex justify-content-center">реагирование</span>
  </div>
  <div class="d-flex flex-column col-3" id="superrr3" style="display: none !important;" onclick="superrr2(3)">
    <div class="d-flex justify-content-end" onclick="superrr2(3)">+</div>
    <h6>УПРАВЛЕНИЕ ДОСТУПОМ В ПОМЕЩЕНИЯ РАЗНЫХ КАТЕГОРИЙ</h6>
    <span class="d-flex justify-content-center" style="font-size: 10px;">При проектировании системы есть возможность задать отдельным зонам объекта особый уровень доступа (например, только для специализированного персонала).
</span>
  </div>
  <div class="d-flex flex-column col-3" id="supermainn4" onclick="supermainn(4)">
    <span class="d-flex justify-content-center" style="font-size: 80px;">4</span>
    <img src="img/krona/newpict3.png" alt="">
    <span class="d-flex justify-content-center">помощь в пути</span>
  </div>
  <div class="d-flex flex-column col-3" id="superrr4" style="display: none !important;" onclick="superrr2(4)">
    <div class="d-flex justify-content-end" onclick="superrr2(4)">+</div>
    <h6>УПРАВЛЕНИЕ ДОСТУПОМ В ПОМЕЩЕНИЯ РАЗНЫХ КАТЕГОРИЙ</h6>
    <span class="d-flex justify-content-center" style="font-size: 10px;">При проектировании системы есть возможность задать отдельным зонам объекта особый уровень доступа (например, только для специализированного персонала).
</span>
  </div>
  <div class="d-flex flex-column col-3" id="supermainn5" onclick="supermainn(5)">
    <span class="d-flex justify-content-center" style="font-size: 80px;">5</span>
    <img src="img/krona/newpict5.png" alt="">
    <span class="d-flex justify-content-center">помощь на месте</span>
  </div>
  <div class="d-flex flex-column col-3" id="superrr5" style="display: none !important;" onclick="superrr2(5)">
    <div class="d-flex justify-content-end" onclick="superrr2(5)">+</div>
    <h6>УПРАВЛЕНИЕ ДОСТУПОМ В ПОМЕЩЕНИЯ РАЗНЫХ КАТЕГОРИЙ</h6>
    <span class="d-flex justify-content-center" style="font-size: 10px;">При проектировании системы есть возможность задать отдельным зонам объекта особый уровень доступа (например, только для специализированного персонала).
</span>
  </div>



</div>

</div>
              </div>
              
            </div>