<div class="m-5">
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="d-flex flex-column col-5 ">
      <h1>СКУД (Система контроля и управления доступом)</h1>

      <div id="prokrutka">
<div class="ss-content"><p>Системы контроля за помещениями получили широкое распространение в самых разных сферах, что связано с увеличением
  количества общественных и бизнес объектов, на которых нужно разграничить помещения, доступные для персонала и
  посетителей. Системы востребованы для:</p><ul><li>бизнес-центров и офисов; </li><li>банков и финансовых учреждений; </li><li>образовательных заведений; </li><li>промышленных предприятий; </li><li>автостоянок и парковок; </li><li>частного жилья и прочего. </li></ul><p>Компания «КРОНА» предлагает комплект устройств системы контроля и управления доступом:</p><ol><li>Контроллер. Компьютер системы, определяющий уровень доступа посетителей с помощью кодов-идентификаторов,
    хранящихся на энергонезависимой карте памяти. </li><li>Считыватель карты. Устройство, считывающее информацию с пластиковой карты доступа и передающее информацию на
    контроллер. Работает с магнитными картами, определяя тип контакта внутри. </li><li>Электромагнитный замок. Блокирует дверь до получения сигнала от контроллера, который даст разрешение на пропуск.
    Для эффективной работы требует бесперебойного обеспечения электричеством. </li><li>Устройство аварийной разблокировки двери. Необходимо при чрезвычайных ситуациях, когда работа с системой в
    стандартном режиме невозможна. </li><li>Доводчик. Мягко закрывает двери даже при сильном натяжении рычага, давая время на правильное соединение
    магнитных контактов электромагнитного замка. </li><li>Кнопка выхода. Нужна для открытия двери изнутри без необходимости прохождения идентификации по карте. </li></ol><p>Установить систему контроля и управления доступом в помещении можно, воспользовавшись услугами профессионалов
  компании «КРОНА», которые проведут монтаж правильно, гарантируя эффективную работу всех элементов.</p></div>
</div>


    </div>
    <div class="col-6">
        <img src="img/krona/skud/skud-content-right.jpg" alt="">
    </div>



  </div>

</div>

</div>