<div class="container">
  <div class="row">
    <div class="d-flex align-items-center col-6">
      <div class="d-flex flex-column  ">
        <div class="ml-4">
          <h1>КРОНА.</h1>
  <h3>Охраняем любые объекты.</h3>
        </div>
  

<h5>Пультовая охрана - это современный комплекс технических средств безопасности с выводом на централизованный пульт мониторинга и дальнейшим организованным выездом групп быстрого реагирования по сигналам тревоги с охраняемых объектов.</h5> <br>


<h5>Компания «КРОНА» оказывает услуги по организации пультовой охраны объектов, установке и обслуживанию охранной, охранно-пожарной и тревожной сигнализации любых типов.</h5>
</div>
    </div>


<div class="col-6"><img src="img/krona/panel-guard-bg.jpg" alt=""></div>
</div>
</div>