<div class="container">
  <div class="row">
  <div class="d-flex flex-column col-6">
    <h2> СКИДКА НОВЫМ КЛИЕНТАМ!</h2>
<h4>Стань клиентом КРОНА -
закажи охрану недвижимости и получи скидку 1 000 рублей на первый закaз по промокоду </h4>
<span class="m-3"><button type="button" class="btn btn-primary ">Заказать</button></span>
  </div>
   <div class="d-flex flex-column col-6 text-center ">
   <div style="font-size: 80px">NEW</div>  
</div>
</div>
</div>



<div type="button" class="callback-bt">
    <div class="text-call">
        <i class="fa fa-phone">&#128379;</i>
        <span>Заказать<br>звонок</span>
    </div>
</div>


<div>123123</div>