<div class="container">
  <div class="row">
    <div class="d-flex flex-column col-6 text-center">
      <h2>КРОНА.</h2>
      <h4>Это удобно.
</h4>

 <div class="row">
      <div class=" col-6"><img src="img/krona/imglent6.png" alt=""><br><span>лента событий</span></div>
<div class="col-6"><img src="img/krona/imglent7.png" alt=""><br><span>управление системой</span></div>
<div class="col-6"><img src="img/krona/imglent8.png" alt=""><br><span>Видео подтверждение</span></div>
<div class="col-6"><img src="img/krona/imglent9.png" alt=""><br><span>Контакты</span></div>
</div>



    </div>
    <div class="col-6">
      <img src="img/krona/smart-guard-iphone-dev.png" alt="">
    </div> 
  </div>
</div>