<div style="  background-image: url(img/krona/call-action-home.jpg);     background-size: cover;  ">
<div class="container" >
  <div class="row " >
    
  <div class="col-12 text-center m-5">  <h1>Отправить заявку</h1>
</div>


  <form class="form-inline ">
  <div class="col-4">
    <input type="" class="form-control" id="exampleInputEmail1" placeholder="Имя Фамилия" aria-describedby="emailHelp">
    
  </div>
  <div class="col-4">
    <input type="" class="form-control" id="exampleInputPassword1" placeholder="Телефон">
  </div>
  
  <div class="               col-4" >
    <select class="form-control" id="exampleFormControlSelect1" >
        <option selected>Обьект охраны</option>
              <option>Квартира</option>
      <option>Дом</option>
      <option>Коммерческая недвижимость</option>
    </select>
  </div>
  <br>

<div class="row col-12 my-5">
<div class="col-6 text-left">
  <div class=" form-check justify-content-start ml-3">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label " for="exampleCheck1">Даю согласие на обработку персональных данных</label>
  </div>
  </div>
  <div class="col-4">
    <button type="submit" class="btn btn-primary">Отправить</button>
  </div>
  </div> 
</form>
</div>
</div>


</div>