<div class="container mt-4">
    <div class="col-8">
       <h1>Современное видеонаблюдение</h1> 
       <div><img src="img/krona/kamers.png" alt=""></div>
       <h6>Преимущества видеонаблюдения КРОНА:
- Возможность настройки уведомлений при обнаружении движения или звука
- Доступ к изображению с камеры и записям 24/7
- Возможность хранения данных в облаке
- И многое другое</h6>
    </div>

<div>
    <div>
        <div class="container">
        <div class="row">
<p id="first1" class="d-flex flex-column col-2 text-center" onclick="first(1)"><img src="img/krona/superblok/superblok1.png" alt=""><span>защита от проникновения</span></p>
<p id="first2" class="d-flex flex-column col-2 text-center" onclick="first(2)"><img src="img/krona/superblok/superblok4.png" alt=""><span>техническая поддержка круглосуточно</span></p>

<p id="first3" class="d-flex flex-column col-2 text-center" onclick="first(3)"><img src="img/krona/superblok/superblok3.png" alt=""><span>Мобильное приложение</span></p>

<p id="first4" class="d-flex flex-column col-2 text-center" onclick="first(4)"><img src="img/krona/superblok/superblok4.png" alt=""><span>Круглосуточный мониторинг</span></p>
</div>
</div>


<div class="container">
<div id="second_hide1"  class="d-flex" style="display:none !important">

<img class="col-2" src="img/krona/superblok/superblok1.png" alt="">
<span class="col-9">Установка видеонаблюдения защитит вас от проникновения непрошенных гостей при помощи современной системы видеофиксации.</span>
<p class="col-1" id="first_yelloy1"; style="display:none !important" onclick="first_yelloy(1)">+</p>


</div>
</div>

<div class="container">
<div id="second_hide2"  class="d-flex" style="display:none !important">

<img class="col-2" src="img/krona/superblok/superblok2.png" alt="">
<span class="col-9"> Для Вас в компании «КРона» работает круглосуточная служба технической поддержки, которая готова в любую минуту прийти на помощь Клиенту.<br> Наши специалисты – это настоящие профессионалы в области технических средств охраны, которые оснащены самым современным оборудованием и обладают многолетним опытом работы с объектовым оборудованием.</span>
<p class="col-1" id="first_yelloy2"; style="display:none !important" onclick="first_yelloy(2)">+</p>


</div>
</div>

<div class="container">
<div id="second_hide3"  class="d-flex" style="display:none !important">

<img class="col-2" src="img/krona/superblok/superblok3.png" alt="">
<span class="col-9">«КРона» предлагает клиентам мобильное приложение, с помощью которого поставить квартиру на охрану или снять с нее можно быстро, без затруднений и удаленно. Также при помощи мобильного приложения вы можете удаленно просматривать записи с установленных видеокамер.</span>
<p class="col-1" id="first_yelloy3"; style="display:none !important" onclick="first_yelloy(3)">+</p>


</div>
</div>

<div class="container">
<div id="second_hide4"  class="d-flex" style="display:none !important">

<img class="col-2" src="img/krona/superblok/superblok4.png" alt="">
<span class="col-9"> Мониторинг охраняемых объектов осуществляется на Центральной станции «КРона» круглосуточно – 365 дней в году, 7 дней в неделю, 24 часа в сутки.</span>
<p class="col-1" id="first_yelloy4"; style="display:none !important" onclick="first_yelloy(4)">+</p>


</div>
</div>




</div>
</div>

</div>