<div class="container">
    <div class="row justify-content-center">
        <h1>Видеодомофоны для квартиры</h1>
        <div class="container">
            <div class="row">
                <div class="col-8">
                    <nav class="nav nav-pills flex-column flex-sm-row">
                        <a class="flex-sm-fill text-sm-center nav-link active p-2" href="#">КОМПЛЕКТ СТАРТ</a>
                        <a class="flex-sm-fill text-sm-center nav-link p-2" href="#">КОМПЛЕКТ СТАРТ+</a>
                        <a class="flex-sm-fill text-sm-center nav-link p-2" href="#">КОМПЛЕКТ СТАНДАРТ</a>
                        <a class="flex-sm-fill text-sm-center nav-link p-2" href="#">КОМПЛЕКТ ПРЕМИУМ</a>
                    </nav>
                    <img src="img/krona/videodomofon/photo2.png" alt="">
                    <div class="container">
                        <div class="row">
                            <p id="first1" class="d-flex flex-column col-2 text-center" onclick="first(1)"><img src="img/krona/skud/superblok1.png" alt=""><span>защита от проникновения</span></p>
                            <p id="first2" class="d-flex flex-column col-2 text-center" onclick="first(2)"><img src="img/krona/skud/superblok4.png" alt=""><span>техническая поддержка круглосуточно</span></p>
                            <p id="first3" class="d-flex flex-column col-2 text-center" onclick="first(3)"><img src="img/krona/skud/superblok3.png" alt=""><span>Монтаж системы</span></p>
                            <p id="first4" class="d-flex flex-column col-2 text-center" onclick="first(4)"><img src="img/krona/skud/superblok4.png" alt=""><span>Индивидуальный проект</span></p>
                        </div>
                    </div>
                    <div class="container">
                        <div id="second_hide1" class="d-flex" style="display:none !important">
                            <img class="col-2" src="img/krona/superblok/superblok1.png" alt="">
                            <span class="col-9">Установка видеонаблюдения защитит вас от проникновения непрошенных гостей при помощи современной системы видеофиксации.</span>
                            <p class="col-1" id="first_yelloy1" ; style="display:none !important" onclick="first_yelloy(1)">+</p>
                        </div>
                    </div>
                    <div class="container">
                        <div id="second_hide2" class="d-flex" style="display:none !important">
                            <img class="col-2" src="img/krona/superblok/superblok2.png" alt="">
                            <span class="col-9"> Для Вас в компании «КРона» работает круглосуточная служба технической поддержки, которая готова в любую минуту прийти на помощь Клиенту.<br> Наши специалисты – это настоящие профессионалы в области технических средств охраны, которые оснащены самым современным оборудованием и обладают многолетним опытом работы с объектовым оборудованием.</span>
                            <p class="col-1" id="first_yelloy2" ; style="display:none !important" onclick="first_yelloy(2)">+</p>
                        </div>
                    </div>
                    <div class="container">
                        <div id="second_hide3" class="d-flex" style="display:none !important">
                            <img class="col-2" src="img/krona/superblok/superblok3.png" alt="">
                            <span class="col-9">
                                Профессиональный монтаж займет по времени не более 5 часов. За это время технические специалисты произведут монтаж системы, помогут заполнить необходимые документы, проведут обучение по пользованию системой. Монтаж возможен в любое удобное для Вас время, в т. ч. в день обращения, выходные дни и ночное время.</span>
                            <p class="col-1" id="first_yelloy3" ; style="display:none !important" onclick="first_yelloy(3)">+</p>
                        </div>
                    </div>
                    <div class="container">
                        <div id="second_hide4" class="d-flex" style="display:none !important">
                            <img class="col-2" src="img/krona/superblok/superblok4.png" alt="">
                            <span class="col-9">
                                Проект СКУД разрабатывается индивидуально нашими специалистами учитывая специфику и особенности вашего объекта.</span>
                            <p class="col-1" id="first_yelloy4" ; style="display:none !important" onclick="first_yelloy(4)">+</p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="container sticky-top ">
                        <div class="d-flex justify-content-end">
                            <div class="d-flex flex-column col-12 p-5 bg-light  ">
                                <div>
                                    Комплексные проекты рассчитываются индивидуально<br>
                                    ЦЕНА ОТ<br>
                                   <div id="summ">6000</div>  P
                                </div>
                                <button class="btn btn-primary " type="submit">Оставить заявку</button>
                            </div>
                        </div>
                       
                                


<div action="" id="form--calc">

        <div class="calc__group--input">
        	<label class="col-3" for=""><input  type="checkbox" name="test5" value="4700" >4700</label>
        	<td class=" col-9 pw-adv-options-item__label">Блок управления светом</td>
        </div>
    <div class="calc__group--input">
        <label class="col-3" for=""><input  type="checkbox" name="test5" value="4700" >4700</label>
        <td class=" col-9 pw-adv-options-item__label">Блок управления жалюзи</td>
    </div>
        <div class="calc__group--input">
        	<label class="col-3" for=""><input  type="checkbox" name="test5" value="5300" >5300</label>
        	<td class="col-9 pw-adv-options-item__label">Сирена внутренняя</td>

        </div>
    <div class="calc__group--input">
        	<label class="col-3" for=""><input  type="checkbox" name="test5" value="3650" >3650</label>
        	<td class="col-9 pw-adv-options-item__label">Брелок тревожная кнопка</td>

        </div>
        <div class="calc__group--input">
        	 <label class="col-3" for=""><input  type="checkbox" name="test5" value="6100" >6100</label>
        	<td class="col-9 pw-adv-options-item__label">Беспр. утечки газа</td>

        </div>
        <div class="calc__group--input">
        	 <label class="col-3" for=""><input  type="checkbox" name="test5" value="5200" >5200</label>
        	<td class="col-9 pw-adv-options-item__label">Беспр. датчик дыма</td>

        </div>
        <div class="calc__group--input">
        	<label class="col-3" for=""><input  type="checkbox" name="test5" value="4250" >4250</label>
        	<td class="col-9 pw-adv-options-item__label">Беспр. датчик открытия двери </td>

        </div>
        <div class="calc__group--input">
        	<label class="col-3" for=""><input  type="checkbox" name="test5" value="6100" >6100</label>
        	<td class="col-9 pw-adv-options-item__label">Беспр. датчик движения</td>

        </div>
        <div class="calc__group--input">
        	<label class="col-4" for=""><input   type="checkbox" name="test5" value="25000" >25000</label>
        	<td class="col-9 pw-adv-options-item__label">Уличный датчик движения c солнечной батареей</td>

        </div>
</div>

                           
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>